<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/a1ab31af30.js" crossorigin="anonymous"></script>
    <script async defer data-website-id="8ca74255-fa52-4b12-8d7e-6bece28d94da" src="https://timothybryantjr-umami-analytics.netlify.app/umami.js"></script>
    <title>Timothy Bryant</title>
</head>
<body>

  <body>

    {% block content %} {% endblock %}
  </body>
</html>
