{% extends "base.html" %}
{% block content %}
<div>
  <h1>{{ name }}</h1>
  <p><small>
      <i class="fa-solid fa-location-dot fa-lg"></i>
      {{ location }}
    </small></p>
  <div class="content">
    <p>I'm a Technologist with a passion for Observability, Site Reliability, DevOps, and Automation.</p>
  </div>
  <h3>Find me at:</h3>
  <div class="social-icon">
    <a href="{{ resume }}">
      <i class="fa-regular fa-file-pdf fa-2xl"></i>
    </a>
  </div>

  <div class="social-icon">
    <a href="{{ blog }}">
      <i class="fa-regular fa-pen-to-square fa-2xl"></i>
    </a>
  </div>

  <div class="social-icon">
    <a href="{{ linkedin }}">
      <i class="fa-brands fa-linkedin fa-2xl"></i>
    </a>
  </div>

  <div class="social-icon">
    <a href="{{ github }}">
      <i class="fa-brands fa-github fa-2xl"></i>
    </a>
  </div>

  {% endblock %}